body {
    font: 1em/1.5 "Lato", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main {
    background: #fafafa;
    width: 640px;
    margin: 0 auto;
    /* height: 100%; */
}

.main h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.btn {
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid #b3b3b3;
    color: #4e4e4e;
    font-size: 1.01em;
}

.btn:focus {
    outline-style: none;
}

.btn:hover {
    background: #b3b3b3;
    color: #000;
    cursor: pointer;
}